﻿@using asp.Models
@model Employee

@{
    ViewData["Title"] = "Create";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h1>Create new AGH-UST employee</h2>
<div class="container">
<form method="post" asp-controller="Home" asp-action="Create">
    <label asp-for="@Model.Name"></label>
    <input asp-for="@Model.Name"/>
    <label asp-for="@Model.Surname"></label>
    <input asp-for="@Model.Surname"/>
    <label asp-for="@Model.Position"></label>
    <input asp-for="@Model.Position"/>
    <input type="submit" class="btn btn-primary" name="save" value="Create" />
</form>


</div>
