﻿@using asp.Models
@model Employee

@{
    ViewData["Title"] = "Edit";
}
<h2>@ViewData["Title"]</h2>


<h2>Edit AGH-UST employee</h2>
<div class="container">
<form method="post" asp-controller="Home" asp-action="Edit">
    <label asp-for="@Model.Name"></label>
    <input asp-for="@Model.Name" value="@Model.Name"/>
    <label asp-for="@Model.Surname"></label>
    <input asp-for="@Model.Surname" value="@Model.Surname"/>
    <label asp-for="@Model.Position"></label>
    <input asp-for="@Model.Position" value="@Model.Position"/>
    <input type="submit" class="btn btn-primary" name="save" value="Save" />
</form>